<input type="search" name="search" id="search" placeholder="Search" (keyup)="onKeyUpSearch($event)">
<table>
    <thead>
        <tr>
            <th class="chlocct">CHLOCCT</th>
            <th class="chfltn">CHFLTN</th>
            <th class="choperd">CHOPERD</th>
            <th class="chloc1d">CHLOC1D</th>
            <th class="chstol">CHSTOL</th>
            <th class="chptol">CHPTOL</th>
            <th class="chloc1t" (click)="onClickChloc1t()">CHLOC1T</th>
            <th class="chrmine">CHRMINE</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let flight of flights">
            <tr *ngIf="flight['CHLOCCT'].toLowerCase().includes(search.toLowerCase())" [style.background-color]="bgColor(flight)">
                <td>{{flight['CHLOCCT']}}</td>
                <td>{{flight['CHFLTN']}}</td>
                <td>{{flight['CHOPERD']}}</td>
                <td>{{flight['CHLOC1D']}}</td>
                <td>{{flight['CHSTOL']}}</td>
                <td>{{flight['CHPTOL']}}</td>
                <td>{{flight['CHLOC1T']}}</td>
                <td>{{flight['CHRMINE']}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>